*{
    bs-gutter:0%; !important
    margin: 0%;
    padding: 0%;
}
.break-line{
   font-size: 17px;
   color:#b0b0b0;
   display: block;
}
.s-heading{
    font-size: 30px;
    font-weight: 600;
    color:#0b2341;
}
.break-line::after{
    content:"" ;
    height: 2px;
    background: orangered;
    display:inline-block; 
    width:150px;
    margin-left: 15px;
    margin-bottom: 6px;
}

        button {
            border-radius: 9999px;
        }
.pricing{
            color:orangered;
            font-size: 40px;
        }
.ul-{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap:15px;
            padding-top: 20px;
            padding-bottom: 30px;
        }
 .parallax {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1553028826-f4804a6dba3b?crop=entropy&cs=tinysrgb&fit=max&fm=webp&ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fHdvbWVuJTIwYnVzaW5lc3N8ZW58MHx8fHwxNjc4MjgzMzUy&ixlib=rb-4.0.3&q=80&w=960");

  /* Set a specific height */
  min-height: 350px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        }
        .useful-links{
            color:#828282
        }
        .dis-fle{
            display: flex;
            gap:100px;
        }
        .footer-ul{
        list-style-type: none;
        display: flex;
        flex-direction:column;
        gap:10px;
        font-size: 14px;
        padding-left: 0px;
        }

        @media screen and (min-width:1200px) {
        .team-img{
            width:300px;
            height: 300px;
        }
        .testimonial-img{
            height:80px;
            width:80px;
            position:absolute;
            left:-5%;
            top:30px;
        }
        .dis-fle{
            display: flex;
            gap:100px;
        }
    }
        @media screen and (max-width:577px) {
            .testimonial-img{
            height:90px;
            width:90px;
        }
        .dis-fle{
            display: flex;
            flex-direction: column;
            gap:30px;
        }
                
    }